[hyoo_habhub] {
	margin: 0;
}

[hyoo_habhub_menu_page] {
	flex: 1 1000 400px;
	width: 100%;
}

[hyoo_habhub_menu] {
	display: flex;
	flex-direction: column;
	padding: .5rem;
}

[hyoo_habhub_placeholder] {
	flex: 1000 1 600px;
}

[hyoo_habhub_details] {
	flex: 1000 1 600px;
}

[hyoo_habhub_details_text] {
}

[hyoo_habhub_details_chat] {
	box-shadow: none;
}
